<h1>{{ 'title.welcome'|trans({'name': company_name }) }}</h1>

<p>{{ 'content.template_registration'|trans({'name': company_name, 'link': signedUrl })|raw }} {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.</p>

<p>{{ 'content.our_team'|trans({'name': company_name }) }}</p>
