<h1>{{ 'title.welcome'|trans({'name': 'Ecommerce' }) }}</h1>

<p>{{ 'content.template_registration'|trans({'name': 'Ecommerce', 'link': signedUrl })|raw }} {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.</p>

<p>{{ 'content.our_team'|trans({'name': 'Ecommerce' }) }}</p>
