<!-- Carousel  -->
<div id="carouselControls" class="carousel slide bg-carousel" data-bs-ride="carousel">
	<div class="carousel-inner">
		<div class="px-lg-5 carousel-item active">
			<div class="container">
				<div class="d-lg-flex justify-content-between align-items-center ps-lg-4"><img class="d-block order-lg-2 me-lg-n5 flex-shrink-0" src="{{ asset('assets/images/slide_1.jpg') }}" alt="Red Dead Redemption 2 Online">
					<div class="mx-auto py-5 px-4 order-lg-1">
						<div class="d-flex flex-column align-items-start">
							<strong class="h2 pb-1 text-warning fw-light">Ecommerce</strong>
							<div class="mb-1 text-light display-5">Gros arrivage</div>
							<p class="fs-lg text-light pb-3">Accédez à un catalogue de jeux, figurines et autres goodies neufs et d'occasions règulièrement enrichi.</p>
							<a class="btn btn-primary" href="#">Découvrir</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="px-lg-5 carousel-item">
			<div class="container">
				<div class="d-lg-flex justify-content-between align-items-center ps-lg-4"><img class="d-block order-lg-2 me-lg-n5 flex-shrink-0" src="{{ asset('assets/images/slide_2.jpg') }}" alt="Grand Theft Auto: The Trilogy – The Definitive Edition">
					<div class="mx-auto py-5 px-4 order-lg-1">
						<div class="d-flex flex-column align-items-start">
							<strong class="h2 pb-1 text-warning fw-light">Ecommerce</strong>
							<div class="mb-1 text-light display-5">Nouveautés PS5</div>
							<p class="fs-lg text-light pb-3">Découvrez Grand Theft Auto: The Trilogy – The Definitive Edition en version remasterisée.</p>
							<a class="btn btn-primary" href="#">Achetez maintenant</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<button class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Précédent</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Prochain</span>
	</button>
</div>
