<!-- Footer -->
<footer class="infos pt-5">
	<div class="container">
		<div class="row pb-2">
			<div class="widget col-md-3 col-sm-6 pb-2 mb-4">
				<h3 class="widget-title text-light">Confidentialité</h3>
				<ul class="widget-list">
					<li class="widget-list-item">
						<a class="widget-list-link" href="#">Politique de confidentialité</a>
					</li>
					<li class="widget-list-item">
						<a class="widget-list-link" href="#">Conditions générales de vente</a>
					</li>
					<li class="widget-list-item">
						<a class="widget-list-link" href="#">Mentions légales</a>
					</li>
				</ul>
			</div>
			<div class="widget col-md-3 col-sm-6 pb-2 mb-4">
				<h3 class="widget-title text-light">Aide et Informations</h3>
				<ul class="widget-list">
					<li class="widget-list-item">
						<a class="widget-list-link" href="#">A propos Ecommerce</a>
					</li>
					<li class="widget-list-item">
						<a class="widget-list-link" href="#">Livraison</a>
					</li>
					<li class="widget-list-item">
						<a class="widget-list-link" href="#">FAQ</a>
					</li>
					<li class="widget-list-item">
						<a class="widget-list-link" href="#">Contact</a>
					</li>
				</ul>
			</div>
			<div class="widget col-md-3 col-sm-6 pb-2 mb-4">
				<h3 class="widget-title text-light">Nous Suivre</h3>
				<ul class="widget-list">
					<li class="widget-list-item">
						<a class="widget-list-link" href="#">Facebook</a>
					</li>
					<li class="widget-list-item">
						<a class="widget-list-link" href="#">Twitter</a>
					</li>
					<li class="widget-list-item">
						<a class="widget-list-link" href="#">Instagram</a>
					</li>
					<li class="widget-list-item">
						<a class="widget-list-link" href="#">Tiktok</a>
					</li>
				</ul>
			</div>
			<div class="col-md-3 col-sm-6 pb-2 mb-4">
				<h3 class="widget-title text-light">Rester informé</h3>
				<form class="subscription-form validate" action="#" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate="">
					<div class="input-group flex-nowrap">
						<input class="form-control rounded-start" type="email" name="EMAIL" placeholder="Votre e-mail" required="">
						<button class="btn btn-primary" type="submit" name="subscribe">S'abonner*</button>
					</div>
					<div class="form-text text-light opacity-50">*Abonnez-vous à notre newsletter pour recevoir des offres de réduction anticipées, des mises à jour et des informations sur les nouveaux produits.</div>
				</form>
			</div>
		</div>
	</div>
	<div class="guarantee pt-5">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-4 col-sm-6 mb-4">
					<div class="d-flex">
						<img class="icon" src="{{ asset('build/images/ic-rocket.png') }}" alt="Icon fusée">
						<div class="ps-2">
							<h3 class="fs-sm text-light mb-1">Livraison Express</h3>
							<p class="mb-0 fs-xs text-light opacity-50">Commande prise en charge dès le paiement effectué.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 mb-4">
					<div class="d-flex">
						<img class="icon" src="{{ asset('build/images/ic-card.png') }}" alt="Icon carte bancaire">
						<div class="ps-2">
							<h3 class="fs-sm text-light mb-1">Paiement Sécurisé</h3>
							<p class="mb-0 fs-xs text-light opacity-50">Paiement par carte bancaire entièrement sécurisés.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 mb-4">
					<div class="d-flex">
						<img class="icon" src="{{ asset('build/images/ic-headset.png') }}" alt="Icon casque">
						<div class="ps-2">
							<h3 class="fs-sm text-light mb-1">Support Client 24/7</h3>
							<p class="mb-0 fs-xs text-light opacity-50">Support client réactif disponible 24h/24 et 7j/7.</p>
						</div>
					</div>
				</div>
			</div>
			<hr class="hr-light mb-4">
			<div class="pb-4 fs-xs text-light opacity-50">© Tous droits réservés. Réalisé par
				<a class="text-light" href="#">Ecommerce</a>
			</div>
		</div>
	</div>
</footer>
