/*
Author : Chris ;
Theme : Ecommerce ;
Description : Theme (method SMACSS) ;
Tags : Ecommerce, Symfony ;
*/

:root {
  --black: #2d3742;
  --purple: #6469ff;
  --blue: #60b3c6;
}

.infos {
  background-color: #222222;
}

.guarantee {
  background-color: #1a1a1a;
}

.btn-outline-accent {
  border-color: rgba(78, 84, 200, 0.35);
}

.opacity-50 {
  opacity: 0.5;
}

.hr-light {
  color: rgba(255, 255, 255, 0.12);
}

.icon {
  object-fit: contain;
  width: 36px;
  height: 36px;
}

.form-check {
  background-color: #f8f9fa;
  padding: 2rem 3rem;
  margin-top: 7px;
}

.col-form-label {
  font-weight: bold;
}
