/*
Author : Chris ;
Theme : Ecommerce ;
Description : Module font size (method SMACSS) ; 
Tags : Ecommerce, Symfony ;
*/

.fs-lg {
  font-size: 1.125rem;
}

.fs-base {
  font-size: 1rem;
}

.fs-sm {
  font-size: 0.875rem;
}

.fs-ms {
  font-size: 0.8125rem;
}

.fs-xs {
  font-size: 0.75rem;
}
