/* 
Author : Chris ;
Theme : Ecommerce ;
Description : Module type (method SMACSS) ; 
Tags : Ecommerce, Symfony ;
*/

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../../fonts/poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../../fonts/poppins/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../../../fonts/poppins/Poppins-Black.ttf") format("truetype");
}
