/* 
Author : Chris ;
Theme : Ecommerce ;
Description : Module widget (method SMACSS) ;
Tags : Ecommerce, Symfony ;
*/

.widget-title {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 400;
}
.widget-list {
  margin: 0;
  padding: 0;
}
.widget-list-item {
  margin-bottom: 0.3rem;
}
.widget .widget-list-link {
  font-size: 0.8125rem;
  color: rgba(255, 255, 255, 0.65);
  &:hover {
    color: var(--blue);
  }
}
