{% extends '@!EasyAdmin/layout.html.twig' %}

{% block content %}
	<section class="container">
		<h1 class="display-4">Administration</h1>
		<p class="lead">Bienvenue dans l'interface d'administration de Ecommerce.</p>
	</section>
{% endblock %}
