<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %} {{ 'title.base'|trans }}
			{% endblock %}
		</title>
		<link rel="»alternate" » hreflang="»en" » href="»https://127.0.0.1:8000/" »/>
		<link rel="»alternate" » hreflang="»fr" » href="»https://127.0.0.1:8000/fr/" »/>
		<link
		rel="»alternate" » href="»https://127.0.0.1:8000/" » hreflang="»x-default" »/>
		{# Run `composer require symfony/webpack-encore-bundle`
		and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %} {{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %} {{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% include "base/_nav.html.twig" %}
		{% if block('carousel') is defined %}
			{% include "base/_carousel.html.twig" %}
		{% endif %}
		<main role="main"> {% block body %}{% endblock %}
			</main>
			{% include "base/_footer.html.twig" %}
		</body>
	</html>
