{% extends 'base.html.twig' %}

{% block title %} {{ 'title.order_success'|trans }} {{ parent() }}
{% endblock %}

{% block body %}
	<section class="container section pt-5">
		<h1 class="section-title h2">{{ 'title.order_success'|trans }}</h1>
		<p>{{ 'content.order_success'|trans({'reference': order.reference, 'user_email': order.user.email, 'carrierName': order.carrierName, 'delivery': order.delivery|raw, 'link': path('account_order') })|raw }}
		</p>
	</section>
	{% include "base/_brand.html.twig" %}
{% endblock %}
